
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_JokesLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h1> Thank you!</h1>
    </p>
    <p>
        Click<a class="nav-link" asp-controller="Jokes" asp-action="JokeForm"> here</a> to Submit another Message.<br />
        Click<a class="nav-link" asp-controller="Jokes" asp-action="Jokes"> here</a> to go back to the Joke Page.
    </p>

</body>
</html>