@model AKidsPage.Models.AppUser
@{
    ViewBag.Ttitle = " Kid Games";
    Layout = "~/Views/Shared/_KidsLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @section Scripts {
        <script type="text/javascript" src="~/indexStartV2.js"></script>
    }
</head>
<body>
    <header><h1>Tic Tac Toe</h1></header>
    <button onClick="window.location.reload();">New Game</button>
    <div class="container justify-content-center" id="board">
        <div id="status">Next Player: X</div>
        <div class="row">
            <div id="0" name="square" class="col-md-4 square" style="background-color: red">&nbsp;</div>
            <div id="1" name="square" class="col-md-4 square" style="background-color: lightgreen">&nbsp;</div>
            <div id="2" name="square" class="col-md-4 square" style="background-color: red">&nbsp;</div>
        </div>
        <div class="row">
            <div id="3" name="square" class="col-md-4 square" style="background-color: lightgreen">&nbsp;</div>
            <div id="4" name="square" class="col-md-4 square" style="background-color: red">&nbsp;</div>
            <div id="5" name="square" class="col-md-4 square" style="background-color: lightgreen">&nbsp;</div>
        </div>
        <div class="row">
            <div id="6" name="square" class="col-md-4 square" style="background-color: red">&nbsp;</div>
            <div id="7" name="square" class="col-md-4 square" style="background-color: lightgreen">&nbsp;</div>
            <div id="8" name="square" class="col-md-4 square" style="background-color: red">&nbsp;</div>
        </div>
    </div>
</body>
</html>